@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }

  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }

  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}



@media only screen and (max-width: 1170px) {


  /* screen seize 575px */
  @media only screen and (max-width: 720px) {

.navmenu {
  display: none;
}
    .fa-shopping-cart {
      display: inline-flex;
    }

    /* screen size 320px */


      @media only screen and (max-width: 320px) {
        .section-4 .carousel-inner {
          margin-left: -4vmin;
        }
        .navmenu {
          display: none;
        }
