* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --light-black: #2e2c2caf;
  --light-gray: rgba(255, 255, 255, 0.877);
  --bggradient: linear-gradient(to top, #fff, #111);
  --bsgradient: linear-gradient(to bottom, #100075, #100075);
}

/* NAVBAR */

.navmenu i {
  margin-right: 5px;
}

.navbar-brand:hover {
  color: #111;
}
.collapse {
  justify-content: center;
}











/* HEADER */
header a {
  font-family: 'Noto sans', sans-serif;
  font-size: 1.1em;
  color: #111;

}

header .nav-link:hover {
  color: blue;
}

header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 80%;
}

header .container .col-md-7 {
  font-family: 'Noto Sans', sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 9.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}





/*SECCION 1*/

.section-1 {
  padding: 30vmin 0vmin;
  background: rgb(242, 242, 242, 0.4);
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}



.cover {
  width: 100%;
}

.cover .content {
  width: 100%;
  height: 50%;
  background: #111;
}

.cover .content h1 {
  font-size: 6vmin;
  color: whitesmoke;
}

.ofertas {
  background: url(../img/flash.jpg);
  margin-top: 200px;
  margin-bottom: 200px;
}
.ofertas h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
}

.ofertas p {
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.column i {
  padding: 3px;
}




/* FOOTER */
footer {
  background: #111;
  overflow-x: hidden;
  padding: 14vmin 18vmin;
  margin-top: 5px;
}
