* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

/* NAVEGACION */
.navmenu i {
  margin-right: 5px;
  padding-left: 5px;
}
.navmenu a:hover{
color: gray;
}
.navbar-brand:hover{
  color: gray;
}
.nav-link:hover{
  color: gray;
}

.collapse {
  justify-content: center;
}

/* HEADER */
header a {
  font-family: 'Noto sans', sans-serif;
  font-size: 1.1em;
  color: #111;
}


header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
}

header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
  width: 80%;
}

header .container .col-md-7 {
  font-family: 'Noto Sans', sans-serif;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 9.5vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 1vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

/*SECCION 1*/
.section-1 {
padding: 20vmin 10vmin;
background: #111;
font-family: 'Noto sans', sans-serif;
font-size: 1.1em;
}

.section-1 img {
  opacity: 0.8;
  width: 100%;
  border-radius: 0.3em;
}

/* SECCION 2 */

.section-2 {
  background: #fff;
  margin-top: 5vmin;
  font-family: 'Noto sans', sans-serif;
  font-size: 1.3em;
}

.compra {
  background: url(../img/bici.jpg);
margin-bottom: 20vmin;
margin-top: 20vmin;
  }

.section-2 img {
  padding: 5%;
  width: 100%;
}

.section-2 h1 {
  padding-top: 10vmin;
  font-size: 6vmin;
  padding-bottom: 1em;
  font-weight: bolder;
}

.section-2 p {
  font-size: 3vmin;
  padding-bottom: 1vmin;
}

/*SECCION 3*/

.section-3 {
  background: url(../img/bw.jpg);
    margin-top: 20vmin;
}


/* FOOTER */
footer {
  background: #111;
  overflow-x: hidden;
  padding: 5vmin;
}

.social {
  padding-top: 40px;
}

.social i {
  padding-right: 10px;
}
